
    <mat-sidenav-container>
      <mat-sidenav-content>
        <mat-toolbar>
          <span>My Application</span>
          <div class="spacer"></div>
          <a mat-button class="but" routerLink="/switchs">Switches</a>
          <a mat-button class="but" routerLink="/firewalls">Firewalls</a>
        </mat-toolbar>  
        
      
        <div class="loading-wrapper" *ngIf="myLoading" >
          <div *ngIf="myLoading" class="loading">
            <mat-progress-spinner class="spinner-animation" color="primary" mode="indeterminate"></mat-progress-spinner>
          </div>
        </div>
      </mat-sidenav-content>
    <mat-sidenav opened mode="side" class="navbar">
      <div *ngFor="let site of sites">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="pannel-header" (click)="panelOpen = !panelOpen">  
            <p  (click)="showSiteHosts(site)">{{site}}</p>
          </mat-expansion-panel-header>
          <div *ngFor="let item of siteHosts[site]">
            <label class="list-item">
            <input type="checkbox"  (change)="onItemSelect($event, item)"> {{ item }}
          </label>
          </div>
          <div *ngIf="itemSelected">
            <button type="button" (click)="showIndividuals()" > Edit selected switchs </button>
          </div>
        </mat-expansion-panel>
      </div>
      <button class="btn btn-outline-success" type="button" (click)="changeContent(0)">create policy</button>
      <br>
      <button class="btn btn-outline-success" type="button" (click)="changeContent(1)">create service</button>
      <br>
      <button class="btn btn-outline-success" type="button" (click)="createReport(firewalls)">create report</button>
      <br>
      <button class="btn btn-outline-success" type="button" (click)="getPolicys(firewalls)">get policys</button>
      <br>
      <button class="btn btn-outline-success" type="button" (click)="getBackup(firewalls)">get backup</button>
      <br>
      <button class="btn btn-outline-success" type="button" (click)="addDevice(firewalls)">add device</button>
    </mat-sidenav>
  </mat-sidenav-container>


  

  
  
  
