
    <div class="about-section">
    

       <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                With just a simple account, our website allows you to declare your attendance in any event and if another participant is later tested positive with the virus, you will immediately be notified via e-mail. To ensure a good functioning of our service, if it is you who is unfortunately tested positive, we urge you to inform our platform in the designated area so that we can inform the rest of the people you may have contacted.
                Thank you for joining us.
                We count on your awareness. 
                And finally, stay safe.            </p>
          
        </div>
        <p>aaaaaaaa</p>
        


    </div>

