<div style="display: flex;">
  <div style="background-color: brown; max-height: 660px; max-width: 40%; " >
    <div>
        <p >{{country}}</p>
    </div>
    <div>
      <mat-accordion *ngFor="let hostName of shownHosts">
        <mat-expansion-panel>   
          <mat-expansion-panel-header class="pannel-header" (click)="panelOpen = !panelOpen" >   
            <a  >{{hostName}}</a>
          </mat-expansion-panel-header >
          <div>
            <mat-accordion >
              <mat-expansion-panel>   
                <mat-expansion-panel-header class="pannel-header" (click)="panelOpen = !panelOpen" >   
                  <a  >Show Vlans Info</a>
                </mat-expansion-panel-header>
                <div class="container">
                  <div class="row" style="padding-top: 100px;">       
                    <div class="col-20 col-md-12 col-sm-30 col-lg-40">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">id</th>
                            <th scope="col">Name</th>
                            <th scope="col">status</th>
                            <th scope="col">ports</th>
                          </tr>
                        </thead>
                        <tr *ngFor ="let curr of currVlanInfo">
                          <td>{{curr.id}}</td>
                          <td>{{curr.name}}</td>
                          <td>{{curr.status}} </td>
                          <td>{{curr.ports}}</td>
                        
                        </tr>
                        
                      </table> 
                     </div> 
                   </div> 
                </div> 
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div>
            <mat-accordion >
              <mat-expansion-panel>   
                <mat-expansion-panel-header class="pannel-header" (click)="panelOpen = !panelOpen" >   
                  <a  >Show Interfaces Info</a>
                </mat-expansion-panel-header>
                <div class="container">
                  <div class="row" style="padding-top: 100px;">       
                    <div class="col-20 col-md-12 col-sm-30 col-lg-40">
                      <table class="table table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">intName</th>
                            <th scope="col">ipv4</th>
                            <th scope="col">status</th>
                            <th scope="col">lineProtocol</th>
                            <th scope="col">mode</th>
                            <th scope="col">allowedVlans</th>
    
                          </tr>
                        </thead>
                        <tr *ngFor ="let curr1 of currIntInfo">
                          
                          <td>{{curr1.intName}}</td>
                          <td>{{curr1.ipv4}} </td>
                          <td>{{curr1.status}}</td>
                          <td>{{curr1.lineProtocol}}</td>
                          <td>{{curr1.portType}}</td>
                          <td>{{curr1.allowedVlans}}</td>
                        
                        </tr>
                        
                      </table> 
                    </div> 
                  </div> 
                </div> 
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    
    
 





