    <mat-sidenav-container >
      <mat-sidenav opened mode="side" class="navbar">
      
        <!-- <div *ngFor="let site of sites"> -->
          <div>
          <mat-expansion-panel [expanded]="expanded">
            <mat-expansion-panel-header class="hed" >  
              <span  (click)="setCurrentSite('Morocco_switches');selectSubject('topology')" routerLink="topology" >Morocco_switches</span>
               </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item (click)="selectSubject('topology')" routerLink="topology/Morocco_switches" [ngClass]="{ 'routing-bc': subject=='topology/Morocco_switches' }"> show topologie </mat-list-item>
              <mat-divider></mat-divider>
              <!-- <mat-list-item>get {{site}} backup files</mat-list-item> -->
              <mat-list-item (click)="getBackUp()">get Morocco_switches backup files</mat-list-item>  
              <mat-divider></mat-divider>
              <mat-list-item >add device</mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item  (click)="selectSubject('report/Morocco_switches')" routerLink="report/Morocco_switches" [ngClass]="{ 'routing-bc': subject=='report/Morocco_switches' }">create Morocco_switches report</mat-list-item>
              <mat-divider></mat-divider> 
            </mat-list>
           
            <mat-expansion-panel style=" background-color: #fffdfd0f;margin: 0 -24px;" [expanded]="expanded">
              <mat-expansion-panel-header class="subhed">  
                <span style="color: white;">edit switches</span>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item (click)="selectSubject('report')" routerLink="selectingHost/report" [ngClass]="{ 'routing-bc': subject.startsWith('report/1') || subject=='report' || subject=='selectingHost/report' }">create report</mat-list-item>
                <mat-divider></mat-divider>
                <!-- <mat-list-item>get {{site}} backup files</mat-list-item> -->
                <mat-list-item (click)="selectSubject('vlans')" routerLink="selectingHost/vlans" [ngClass]="{ 'routing-bc': subject.startsWith('vlans/1') || subject=='selectingHost/vlans' }">vlans</mat-list-item>
    
                <mat-divider></mat-divider>
                <mat-list-item (click)="selectSubject('interfaces')" routerLink="selectingHost/interfaces" [ngClass]="{ 'routing-bc': subject.startsWith('interfaces') || subject=='selectingHost/interfaces'}">interfaces</mat-list-item>
                <mat-divider></mat-divider>
    
                <mat-list-item (click)="selectSubject('switch-system')" routerLink="selectingHost/switch-system" [ngClass]="{ 'routing-bc': subject.startsWith('switch-system/1') || subject=='selectingHost/switch-system' }">system</mat-list-item>
                <mat-divider></mat-divider>
    
                <mat-list-item routerLink="selectingHost/individual-backup-file" [ngClass]="{ 'routing-bc': subject.startsWith('individual-backup-file/1') || subject=='selectingHost/individual-backup-file' }" >get backUp file</mat-list-item>
    
              </mat-list>

            <div *ngFor="let item of siteHosts['Morocco_switches']">
              
            </div>
          </mat-expansion-panel>
          </mat-expansion-panel>
  
  
          <mat-expansion-panel>
            <mat-expansion-panel-header class="hed" (click)="selectSubject('topology')" routerLink="topology">  
              <span  (click)="setCurrentSite('Tunisia_switches')">Tunisia_switches</span>
               </mat-expansion-panel-header>
            <mat-list>
              <mat-list-item> show topologie </mat-list-item>
              <mat-divider></mat-divider>
              <!-- <mat-list-item>get {{site}} backup files</mat-list-item> -->
              <mat-list-item>get backup files</mat-list-item>
  
              <mat-divider></mat-divider>
              <mat-list-item>add device</mat-list-item>
              <mat-divider></mat-divider>
  
              <mat-list-item>create report</mat-list-item>
              <mat-divider></mat-divider>
  
              <mat-list-item>create report</mat-list-item>
              <mat-divider></mat-divider>
  
            </mat-list>
           
           
            <mat-expansion-panel style=" background-color: #fffdfd0f;margin: 0 -24px;">
              <mat-expansion-panel-header  >  
                <span style="color: white;">edit switches</span>
              </mat-expansion-panel-header>
              <mat-list>
                <mat-list-item>create report</mat-list-item>
                <mat-divider></mat-divider>
                <!-- <mat-list-item>get {{site}} backup files</mat-list-item> -->
                <mat-list-item>vlan</mat-list-item>
    
                <mat-divider></mat-divider>
                <mat-list-item>Interfaces</mat-list-item>
                <mat-divider></mat-divider>
    
                <mat-list-item>system</mat-list-item>
                <mat-divider></mat-divider>
    
                <mat-list-item>get BackUp file</mat-list-item>
    
              </mat-list>

            <div *ngFor="let item of siteHosts['Morocco_switches']">
              
            </div>
          </mat-expansion-panel>
          </mat-expansion-panel>
        </div>
       
         
      </mat-sidenav>
    
      <mat-sidenav-content class="content">
        
        <mat-toolbar>
          <span>My Application</span>
          <div class="spacer"></div>
          <a mat-button class="but" routerLink="/switchs/topology/Morocco_switches">Switches</a>
          <a mat-button class="but" routerLink="/firewalls">Firewalls</a>
        </mat-toolbar>
        
        <router-outlet ></router-outlet>  
       
      </mat-sidenav-content>
    
  </mat-sidenav-container>
   


  

  